/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

:root {

	--main-bg-color: #FFFEF8;
	--primary: #B1663C;
	--secondary: #1D6154;
	--family-title: "Syne";
	--family-txt: "Work Sans";
}

h1, h2 {
	font-family: var(--family-title);
}

h1 {
	color: var(--primary);
}

h2 {
	color: var(--secondary);
}


html, body {
	background-color: var(--main-bg-color);
}

#main-container {
	max-width: 1140px;
	margin:auto;
	font-family: var(--family-txt);
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-size: 22px;
	font-weight: 800;
	color: var(--primary);
}

h1 > span {
	font-family: var(--family-txt);
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-weight: 700;
	font-size: 30px;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 0 45px;
}

a {
	color: #000;
	text-decoration: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

a:hover {
	color: #B1663C;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

button {
	cursor: pointer;
}


button[type="submit"], input[type="submit"]{
	font-family: var(--family-title);
	font-weight: 700;
	color: white;
	background-color: var(--secondary);
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	outline: none;
	border: none;
}


.hide {
	display: none!important;
}

.hide-alt {

	opacity: 0!important;
}

.btn-outline {

	font-family: "Syne";
	background-color: transparent;
	color: var(--secondary);
	border: 1px solid var(--secondary);
	padding: 6px 12px;
	outline: none;
	border-radius: 20px; 
}

.btn-fill, .btn-outline:hover {

	background-color: var(--secondary);
	color: #fff;
}